*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/* Header Section Start */
header{
    width:100%;
    height:50px;
    background:#022D7C;
    color:#fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0px 100px;
}
/* Header Section End */
/* Banner Section Start  */
.banner{
    width:100%;
    height:600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/bg-img.jpg');
    background-size: cover;
    display:flex;
    align-items: center;
    padding:0px 100px;
    justify-content: space-between;
    color:#fff;
}

.banner aside h1{
    font-size:52px;
    font-weight: normal;
  
}
.banner aside span{
    display:block;
    font-size:70px;
    font-weight:600 ;
}
.banner main{
    padding:20px;
    border-radius: 7px;
    text-align: center;
    background: #022D7C;
}
.banner main input[type],textarea,button{
    width:100%;
    height:45px;
    margin:7px;
}
/* Banner Section End */