*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/* Header Section Start */
header{
    width:100%;
    height:50px;
    background:#022D7C;
    color:#fff;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0px 100px;
}
/* Header Section End */
/* Banner Section Start  */
.banner{
    width:100%;
    height:600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/bg-img.jpg');
    background-size: cover;
    display:flex;
    align-items: center;
    padding:0px 100px;
    justify-content: space-between;
    color:#fff;
}

.banner aside h1{
    font-size:52px;
    font-weight: normal;
  
}
.banner aside span{
    display:block;
    font-size:70px;
    font-weight:600 ;
}
.banner main{
    padding:20px;
    border-radius: 7px;
    text-align: center;
    background: #022D7C;
}
.banner main input[type],textarea,button{
    width:100%;
    height:45px;
    margin:7px;
}

/* Banner Section End */
/* Feature Section Start */
.feature {
    height:auto;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:60px 100px;
}
.feature div{
    width:30%;
    height:500px;
}
.feature div img{
    width:390px;
    height:250px
}
.feature div h2{
    font-size:30px;
    margin-bottom:7px;
}
.feature div p{
    font-size:16px;
    text-align:justify;
    margin-top:7px;
}
/* Feature Section End */
/* About Us Section Start */
.about{
    width:100%;
    height:auto;
    background: #022D7C;
    color:#fff;
    text-align:center;
    padding:60px 100px;
}
.about h2{
    font-size: 30px;
    margin-bottom: 7px;
}
.about p{

    font-size:16px;
}
.about .abt-btn{
    margin-top:20px;
    width:30%;
    background: none;
    border:2px solid #fff;
    border-radius:5px;
    font-weight:bold;
    color:#fff;
    font-size:16px;
    
}
/* About Us Section End */
/* Service Section Start */
.services{
    width:100%;
    height:auto;
    padding:0px 300px;
    

}
.service1 img,.service2 img{
    width:408px;
    height:300px;
    margin:0px 50px;

}
.service1,.service2{
    display:flex;
    
    

 } 
.service-info1 h2,.service-info2 h2{
    margin-top:60px;
}
.service-info1 p,.service-info2 p{
    font-size:16px;
    text-align:justify;
}
.service-info2{
    padding-left: 50px;
}
/* Service Section End */
/* Footer Section Start */
footer{
    width:100%;
    height:auto;
    color:#fff;
    background-color: #022D7C;
    text-align: center;
    padding: 15px 0px;
}
/* Footer Section End */